.header{
    height: 85vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)), 
        url('../img/hero-small.jpg');
    background-size: cover;   /* Tries to cover the width of view port */
    background-position: top;
    position: relative;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0))  {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);  /* direction start from left side and move clock wise */
        height: 95vh;
    }

    // media queries for responsive images in CSS
    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),  // 192dpi screen is a High resolution screen
        only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),  // So that it works in Safari
        only screen and (min-width: 125em) {  // , is like or
        background-image: linear-gradient(
            to right bottom,
            rgba($color-primary-light, 0.8), 
            rgba($color-primary-dark, 0.8)), 
            url('../img/hero.jpg');
    }

    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    &__logo-box {  // & copies the value of parent class without gap, it looks like .header__logo-box
        position: absolute;  /* To give absolute to any child parent element must be relative */
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 4.5rem;  /* Width will be automatically specified accordingly */

        &:hover {
            animation: rotate360 1s linear;
        }
    }

    &__text-box {
        position: absolute;
        top: 40%;  /* top and left are in relation to the parent element which is header and it means move 40% of the total of header size from left */
        left: 50%;
        transform: translate(-50%, -50%);  /* transform is in relation to itself therefore it will shift half of the width to left and top side */
        text-align: center;
    }
}